@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100&display=swap');

main {
    /* width:80%; */
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: sans-serif;
    font-weight: 600;
}

#alteracao {
    display: flex;
    margin: auto;
}

form {
    display: inline-block;
    width: 50%;
    background-color: antiquewhite;
    padding-bottom: 10px;
    padding-top: 20px;
    font-family: 'Catamaran', sans-serif;
    font-size: 14pt;
    height: 400px;
    box-sizing: border-box;
}

div {
    margin-left: 60px;
    margin-bottom: 8px;
}

small {
    color: green;
}

input {
    margin-left: 1px;
}

div#listagem {
    display: inline-block;
    width: 50%;
    padding: 20px;
    background-color: lightsalmon;
    margin-left: auto;
    height: 400px;
    overflow-y: scroll;
    box-sizing: border-box;
}


button {
    display: inline-block;
    background-color: cornflowerblue;
    color: cornsilk;
    margin-left: 60px;
    border-radius: 5px;
}

button:hover {
    background-color: darkolivegreen;
}

img {
    vertical-align: middle;
    margin-left: 3px;
}

#listContact button {
    margin-left: 5px;
}